
@{
    ViewBag.Title = "Car calculator";
}
<link href="~/Content/dashboard.css" rel="stylesheet" />

<script src="~/Scripts/CarCalculator/CarCalculatorApp.js"></script>


<style>
    .field {
        display: block;
    }

    label {
        width: 150px;
    }

    .cssSlideUp {
        transition: .5s linear all;
        height: 80px;
        overflow: hidden;
    }

    .cssFade {
        transition: 0.5s linear all;
        opacity: 1;
    }

        .cssFade.ng-hide {
            opacity: 0;
        }

    .exampleDiv {
        background: #D7F8D7;
        padding: 10px;
        border-radius: 4px;
    }

    .ng-hide-add, .ng-hide-remove {
        /* ensure visibility during the transition */
        display: block !important; /* yes, important */
    }
</style>


<div ng-app="CarCalculatorApp" class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" ng-controller="TabController as tabCtrl">
            <ul class="nav nav-sidebar">
                <li ng-class="{active: currentTab===1}"><a href="#/list" ng-click="setTab(1)">Lista</a></li>
                @*<li ng-class="{active: isSelected(1)}"><a href="#/add" ng-click="setTab(1)">Dodaj</a></li>*@
                <li ng-class="{active: isSelected(2)}"><a href="#/stats" ng-click="setTab(2)">Statystyki</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" >

            <h1 class="page-header">Kalkulator</h1>
         
            <div ng-view></div>

        </div>
    </div>
</div>