
@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/ImageGallery/imageGalleryApp.js"></script>

<div ng-app="ImageGalleryApp" ng-controller="ImageController">
    <input type="text" data-ng-model="name"/>{{name}}

   

</div>


